version: 2
updates:
  - package-ecosystem: gradle
    directory: /
    schedule:
      interval: weekly
      day: saturday
    ignore:
      - dependency-name: '*'
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
    open-pull-requests-limit: 10
    labels:
      - 'type: dependency-upgrade'
    groups:
      development-dependencies:
        update-types:
          - patch
        patterns:
          - org.gradle.*
          - io.spring.*
          - org.antora
          - io.micrometer:micrometer-docs-generator
          - com.willowtreeapps.assertk:assertk-jvm
          - org.hibernate.validator:hibernate-validator
          - org.apache.httpcomponents.client5:httpclient5
          - org.awaitility:awaitility
          - io.freefair.aggregate-javadoc

  - package-ecosystem: gradle
    target-branch: 4.0.x
    directory: /
    schedule:
      interval: weekly
      day: saturday
    ignore:
      - dependency-name: '*'
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
    open-pull-requests-limit: 10
    labels:
      - 'type: dependency-upgrade'
    groups:
      development-dependencies:
        update-types:
          - patch
        patterns:
          - org.gradle.*
          - io.spring.*
          - org.antora
          - io.micrometer:micrometer-docs-generator
          - com.willowtreeapps.assertk:assertk-jvm
          - org.hibernate.validator:hibernate-validator
          - org.apache.httpcomponents.client5:httpclient5
          - org.awaitility:awaitility
          - io.freefair.aggregate-javadoc

  - package-ecosystem: gradle
    target-branch: 3.2.x
    directory: /
    schedule:
      interval: weekly
      day: saturday
    ignore:
      - dependency-name: '*'
        update-types:
          - version-update:semver-major
          - version-update:semver-minor
    open-pull-requests-limit: 10
    labels:
      - 'type: dependency-upgrade'
    groups:
      development-dependencies:
        update-types:
          - patch
        patterns:
          - org.gradle.*
          - com.github.spotbugs
          - io.spring.*
          - io.freefair.aggregate-javadoc
          - org.antora
          - io.micrometer:micrometer-docs-generator
          - com.willowtreeapps.assertk:assertk-jvm
          - org.hibernate.validator:hibernate-validator
          - org.apache.httpcomponents.client5:httpclient5
          - org.awaitility:awaitility

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: saturday
    labels:
      - 'type: task'
    groups:
      development-dependencies:
        patterns:
          - '*'

  - package-ecosystem: github-actions
    target-branch: 4.0.x
    directory: /
    schedule:
      interval: weekly
      day: saturday
    labels:
      - 'type: task'
    groups:
      development-dependencies:
        patterns:
          - '*'

  - package-ecosystem: github-actions
    target-branch: 3.2.x
    directory: /
    schedule:
      interval: weekly
      day: saturday
    labels:
      - 'type: task'
    groups:
      development-dependencies:
        patterns:
          - '*'