*.iml
*.ipr
*.iws
*.swp
*/src/main/java/META-INF
.ant-targets-build.xml
.classpath
.idea
.gradle
.project
.settings
.checkstyle
bin
build
out
.DS_Store
.springBeans
erl_crash.dump
nohup.out
src/ant/.ant-targets-upload-dist.xml
target
