antora:
  extensions:
    - require: '@springio/antora-extensions'
      root_component_name: 'amqp'

site:
  title: Spring AMQP
  url: https://docs.spring.io/spring-amqp/reference/
content:
  sources:
    - url: ./../../..
      branches: HEAD
      # See https://docs.antora.org/antora/latest/playbook/content-source-start-path/#start-path-key
      start_path: src/reference/antora
      worktrees: true
asciidoc:
  attributes:
    page-stackoverflow-url: https://stackoverflow.com/tags/spring-amqp
    page-pagination: ''
    hide-uri-scheme: '@'
    tabs-sync-option: '@'
    chomp: 'all'
  extensions:
    - '@asciidoctor/tabs'
    - '@springio/asciidoctor-extensions'
    - '@springio/asciidoctor-extensions/javadoc-extension'
    - '@springio/asciidoctor-extensions/configuration-properties-extension'
  sourcemap: true
urls:
  latest_version_segment: ''
runtime:
  log:
    failure_level: warn
    format: pretty
ui:
  bundle:
    url: https://github.com/spring-io/antora-ui-spring/releases/download/v0.4.17/ui-bundle.zip
