name: CI SNAPSHOT

on:
  workflow_dispatch:

  push:
    branches:
      - main
      - '*.x'

  schedule:
    - cron: '0 5 * * *'

concurrency:
  group: group-snapshot-for-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-snapshot:
    runs-on: ubuntu-latest
    name: CI Build SNAPSHOT for ${{ github.ref_name }}
    env:
      DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}

    steps:
      - name: Start RabbitMQ
        uses: namoshek/rabbitmq-github-action@v1
        with:
          ports: '5672:5672 15672:15672 5552:5552'
          plugins: rabbitmq_stream,rabbitmq_management

      - uses: actions/checkout@v4
        with:
          show-progress: false

      - name: Checkout Common Repo
        uses: actions/checkout@v4
        with:
          repository: spring-io/spring-github-workflows
          path: spring-github-workflows
          show-progress: false

      - name: Build and Publish
        timeout-minutes: 30
        uses: ./spring-github-workflows/.github/actions/spring-artifactory-gradle-build
        with:
          gradleTasks: ${{ github.event_name == 'schedule' && '--rerun-tasks' || '--rerun-tasks' }}
          artifactoryUsername: ${{ secrets.ARTIFACTORY_USERNAME }}
          artifactoryPassword: ${{ secrets.ARTIFACTORY_PASSWORD }}
