name: Update project page versions

on:
  workflow_dispatch:
    inputs:
      releaseVersion:
        description: 'Version to publish, e.g. 3.0.0-M1, 3.1.0-RC1, 3.2.0 etc.'

jobs:
  update-website-versions:
    runs-on: ubuntu-latest
    steps:
      - name: Update project page for new version
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GH_ACTIONS_REPO_TOKEN }}
        run: |
          PROJECT=${{ github.event.repository.name }}
          GITHUB_USER=$(gh api /user --jq '.login')
          SPRING_WEBSITE_CLIENT='curl -s -u "$GITHUB_USER:$GH_TOKEN" -H "Content-Type: application/json" --url "https://api.spring.io/projects/$PROJECT"'
          
          if [ $(eval $SPRING_WEBSITE_CLIENT -o /dev/null -w '%{http_code}') != '200' ]
          then
             echo "::notice title=Nothing to update on Spring website::No versions update for $PROJECT project which is not listed on Spring website."
             exit 0
          fi
          
          VERSIONS_TO_UPDATE=${{ inputs.releaseVersion }}
          
          MAJOR_MINOR=$(echo ${{ inputs.releaseVersion }} | cut -d '.' -f1-2)
          
          OSS_SUPPORT_END_DATE=$(eval $SPRING_WEBSITE_CLIENT/generations/${MAJOR_MINOR}.x | jq -r '.ossSupportEndDate')
          
          if [[ -z $OSS_SUPPORT_END_DATE || $OSS_SUPPORT_END_DATE > $(date '+%F') ]]
          then
            NEXT_SNAPSHOT=${{ inputs.releaseVersion }}
          
            if [[ $NEXT_SNAPSHOT == *"-"* ]] 
            then
              NEXT_SNAPSHOT=${NEXT_SNAPSHOT/-*}
            else
              PATCH=$(echo $NEXT_SNAPSHOT | cut -d '.' -f3)
              PATCH=$((PATCH+1))
              NEXT_SNAPSHOT=$MAJOR_MINOR.$PATCH
            fi
          
            NEXT_SNAPSHOT+='-SNAPSHOT'
            VERSIONS_TO_UPDATE+=" $NEXT_SNAPSHOT"
          fi
          
          VERSIONS_TO_REMOVE=$(eval $SPRING_WEBSITE_CLIENT/releases | jq -r "._embedded.releases[].version | select(startswith(\"$MAJOR_MINOR\"))")
          
          for VERSION_TO_REMOVE in $VERSIONS_TO_REMOVE
          do
             eval $SPRING_WEBSITE_CLIENT/releases/$VERSION_TO_REMOVE -X DELETE
          done
          
          for VERSION in $VERSIONS_TO_UPDATE
          do
            VERSION_JSON=$(jq -n \
             --arg version "$VERSION" \
             --arg project "$PROJECT" \
             '{version: $version, referenceDocUrl: "https://docs.spring.io/\($project)/reference/{version}", apiDocUrl: "https://docs.spring.io/\($project)/docs/\($version)/api", isAntora: true}')
          
            curl -s -u "$GITHUB_USER:$GH_TOKEN" \
              -H "Content-Type: application/json" \
              -d "$VERSION_JSON" \
              --fail --show-error \
              "https://api.spring.io/projects/$PROJECT/releases"
          done