name: Update project page versions

on:
  workflow_dispatch:
    inputs:
      releaseVersion:
        description: 'Version to publish, e.g. 3.0.0-M1, 3.1.0-RC1, 3.2.0 etc.'

jobs:
  update-website-versions:
    runs-on: ubuntu-latest
    steps:
      - name: Update Spring IO website for new version
        uses: spring-io/spring-github-workflows/.github/actions/spring-website-project-version-update@main
        with:
          newVersion: ${{ inputs.releaseVersion }}
          token: ${{ secrets.GH_ACTIONS_REPO_TOKEN }}