name: Verify Staged Artifacts

on:
  workflow_dispatch:
    inputs:
      releaseVersion:
        description: 'Release version like 5.0.0-M1, 5.1.0-RC1, 5.2.0 etc.'
        required: true
        type: string


env:
  DEVELOCITY_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_SECRET_ACCESS_KEY }}
  ARTIFACTORY_USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
  ARTIFACTORY_PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}

jobs:
  verify-staged-with-spring-integration:
    runs-on: ubuntu-latest

    steps:

      - name: Start RabbitMQ
        uses: namoshek/rabbitmq-github-action@v1
        with:
          ports: '5672:5672 15672:15672 5552:5552'
          plugins: rabbitmq_stream,rabbitmq_management

      - name: Checkout Spring Integration Repo
        uses: actions/checkout@v4
        with:
          repository: spring-projects/spring-integration
          show-progress: false


      - name: Set up Gradle
        uses: spring-io/spring-gradle-build-action@v2

      - name: Prepare Spring Integration project against Staging
        run: |
          printf "allprojects {
                  repositories {
                    maven { 
                      url 'https://repo.spring.io/libs-staging-local'
                      credentials {
                        username = '$ARTIFACTORY_USERNAME'
                        password = '$ARTIFACTORY_PASSWORD'
                      }
                    }
                  }
                }" > staging-repo-init.gradle
          
          sed -i "1,/springAmqpVersion.*/s/springAmqpVersion.*/springAmqpVersion='${{ inputs.releaseVersion }}'/" build.gradle  

      - name: Verify Spring Integration AMQP module against staged release
        run: gradle :spring-integration-amqp:check --init-script staging-repo-init.gradle